body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(135deg, #00feba, #e7e450);
}

h1 {
  text-align: center;
}

.controls {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

input, select, button {
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#weather {
  margin-top: 1rem;
  display: flex;
}

.weather-item {
  max-width: 20%;
  background: #ecf0f1;
  padding: 0.8rem;
  margin: 0.4rem;
  border-radius: 6px;
}

canvas {
  margin-top: 1.5rem;
}

.hidden {
  display: none;
}

/* Responsive */
@media (max-width: 600px) {
  .controls, #weather  {
    flex-direction: column;
  }

  .weather-item {
  max-width: 90%;
  }
}

.status {
  text-align: center;
  margin-top: 0.5rem;
  font-style: italic;
  color: #555;
}
